body {
	background-color: #A8D9F1;
}

#bannerTitle {
	/*position: fixed;*/
	text-align: center;
	font-size: 10em;
}

#bannerTitleContainer {
	/*vertical-align: baseline;*/
	margin-top: 15%;
}

button {
	color: #b4a8f1;
}

#mySection {
	margin-top: 10%;
	background: transparent;
}

.jumbotron-heading {
	/*font-size: 100px;*/
	font-size: 7.0em;
}

.btn-xlarge {
    padding: 14px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

@media only screen and (max-width: 600px) {
	#mySection {
		margin-top: 20%;
	}
  .jumbotron-heading {
  	font-size: 4.5em;
  }
}

